In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'pandas'

## Data piped from CSV

In [ ]:
DATA_PATH = './data/'
file_name = 'heart_og.xls'


heart_og_df = pd.read_csv(DATA_PATH+file_name)

# Displays the first 5 rows
heart_og_df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

## Data Stuff (Pretty Pictures)

## Pre-processing

In [ ]:
y = heart_og_df["target"]
X = heart_og_df.drop('target',axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state = 0)

#first xtrain rows
X_train.head()

NameError: name 'data' is not defined

In [ ]:
y_train.head()