In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split

##ANN STUFF
from sklearn.neural_network import MLPClassifier        # The ANN model
from sklearn.preprocessing import StandardScaler        # To normalize features
from sklearn.metrics import accuracy_score              # To evaluate performance

## Data piped from CSV

In [12]:
DATA_PATH = './data/'
file_name = 'heart_og.csv'


heart_og_df = pd.read_csv(DATA_PATH+file_name)

# Displays the first 5 rows
heart_og_df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

## Data Stuff (Pretty Pictures)

## Pre-processing

In [18]:
y = heart_og_df["target"]
X = heart_og_df.drop('target',axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state = 0)
#first xtrain rows
X_train.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
315,42,1,3,148,244,0,0,178,0,0.8,2,2,2
204,66,0,2,146,278,0,0,152,0,0.0,1,1,2
363,53,1,2,130,246,1,0,173,0,0.0,2,3,2
5,58,0,0,100,248,0,0,122,0,1.0,1,0,2
1017,53,1,0,123,282,0,1,95,1,2.0,1,2,3

In [19]:
##Scaling
scalar = StandardScaler()
X_train_scaled = scalar.fit_transform(X_train)
X_test_scaled = scalar.fit_transform(X_test)

## ANN CLASSIFIER

In [21]:

ANN_model = MLPClassifier(hidden_layer_sizes=(64, 32),
                      activation='relu',
                      solver='sgd',
                      max_iter=400,
                      random_state=42)

ANN_model.fit(X_train_scaled, y_train)
y_pred = ANN_model.predict(X_test_scaled)

ANN_acc = accuracy_score(y_test, y_pred)

print(f"Accuracy: {ANN_acc*100 :.2f}")

Accuracy: 89.76

c:\Users\mmrde\OneDrive\Documents\ECS 171\Class Proj\ML-Project\venv\Lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (400) reached and the optimization hasn't converged yet.
  warnings.warn(

In [ ]:
y_train.head()

315     1
204     1
363     1
5       1
1017    0
Name: target, dtype: int64